@charset "utf-8";
nav {
	margin-left: 20%;
	margin-right: 20%;
	word-spacing: 40px;
	align-items: center;
	align-content: center;
	text-align-last: center;
	background-color: purple;
	font-size: 32px ;
}

body   {
	background-color: #A9E5FD;
}

h1 {
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}
h2 {
	margin-left: 20%;
	margin-right: 20%;
}